__pycache__/
*.pyc
terraform-provider-flashblade
opentofu-provider-flashblade
.desloppify/
.claude/worktrees
flashblade-resource-builder.zip
pulumi-resource-flashblade
pulumi-tfgen-flashblade
pulumi/examples/*-go/*-go
swagger-*.json
.gstack/
