# Build artifacts
/provider/cmd/pulumi-tfgen-flashblade/pulumi-tfgen-flashblade
/provider/cmd/pulumi-resource-flashblade/pulumi-resource-flashblade

# Python/TS/Go SDK build artifacts (not source)
/sdk/python/bin/
/sdk/python/pulumi_flashblade.egg-info/
/sdk/python/dist/
/sdk/python/build/
/sdk/nodejs/
/sdk/dotnet/

# Tooling
.pulumi/

# goreleaser output
/dist/
.coverage/
